This notebook contains the treatment of the data from the NOAA stations. Some of the data were absurd. So dataset needed to be treated

In [1]:
from Functions_ImportData import import_treat_obs_NOAA
from Functions_ImportData import treat_NOAA_data

import pandas as pd
import numpy as np
import os
import os.path

In [2]:
daily_sum_obs_from_NOAA = import_treat_obs_NOAA()

In [3]:
daily_sum_obs_from_NOAA

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-04-05,2.0,",,S",23.8,"H,,S",29.0,",D,S",20.0,",,S"
1,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-06-17,0.0,",,S",18.2,"H,,S",27.0,",,S",11.0,",,S"
2,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-06-23,NaN,NaN,21.0,"H,,S",NaN,NaN,NaN,NaN
3,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-07-02,0.0,",,S",21.5,"H,,S",NaN,NaN,16.0,",,S"
4,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-07-03,0.0,",,S",20.5,"H,,S",NaN,NaN,16.0,",,S"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161770,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2020-12-27,NaN,NaN,28.8,"H,,S",32.3,",,S",NaN,NaN
161771,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2020-12-28,NaN,NaN,29.4,"H,,S",NaN,NaN,25.0,",,S"
161772,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2020-12-29,NaN,NaN,29.6,"H,,S",NaN,NaN,26.0,",,S"
161773,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2020-12-30,24.9,",,S",28.3,"H,,S",31.2,",,S",25.7,",,S"
161774,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2020-12-31,5.1,",,S",28.1,"H,,S",NaN,NaN,25.0,",,S"

In [4]:
# take out impossible observation data

## We can see for some maximum temperature observation data that some data points are completely impossible 
#  (100 for minimum or maximum temperature at Chimoio and Beira sometimes)
#daily_sum_obs_from_NOAA=daily_sum_obs_from_NOAA[daily_sum_obs_from_NOAA['TMAX']<80]
#daily_sum_obs_from_NOAA=daily_sum_obs_from_NOAA[daily_sum_obs_from_NOAA['TMIN']<80]
#daily_sum_obs_from_NOAA=daily_sum_obs_from_NOAA[daily_sum_obs_from_NOAA['TAVG']<80]

daily_sum_obs_from_NOAA.loc[daily_sum_obs_from_NOAA['TMAX']>80,'TMAX'] = np.nan
daily_sum_obs_from_NOAA.loc[daily_sum_obs_from_NOAA['TMIN']>80,'TMIN'] = np.nan
daily_sum_obs_from_NOAA.loc[daily_sum_obs_from_NOAA['TAVG']>80,'TAVG'] = np.nan

In [5]:
daily_sum_obs_from_NOAA = treat_NOAA_data(daily_sum_obs_from_NOAA)

C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING']=0
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING'][df[name_col].isna()]=1
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING']=0
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING'][df[name_col].isna()]=1
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING']=0
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING'][df[name_col].isna()]=1
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING']=0
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING'][df[name_col].isna()]=1

In [6]:
daily_sum_obs_from_NOAA

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,...,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,Year,Month,Season,PRCP MISSING,TAVG MISSING,TMAX MISSING,TMIN MISSING
0,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-04-05,2.0,",,S",23.8,"H,,S",...,",D,S",20.0,",,S",1974,Apr,Dry,0,0,0,0
1,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-06-17,0.0,",,S",18.2,"H,,S",...,",,S",11.0,",,S",1974,Jun,Dry,0,0,0,0
2,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-06-23,NaN,NaN,21.0,"H,,S",...,NaN,NaN,NaN,1974,Jun,Dry,1,0,1,1
3,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-07-02,0.0,",,S",21.5,"H,,S",...,NaN,16.0,",,S",1974,Jul,Dry,0,0,1,0
4,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-07-03,0.0,",,S",20.5,"H,,S",...,NaN,16.0,",,S",1974,Jul,Dry,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159722,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-12-27,NaN,NaN,30.8,"H,,S",...,NaN,NaN,NaN,2014,Dec,Humid,1,0,1,1
159723,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-12-28,NaN,NaN,30.0,"H,,S",...,NaN,NaN,NaN,2014,Dec,Humid,1,0,1,1
159724,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-12-29,NaN,NaN,28.0,"H,,S",...,NaN,NaN,NaN,2014,Dec,Humid,1,0,1,1
159725,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-12-30,NaN,NaN,25.6,"H,,S",...,NaN,NaN,NaN,2014,Dec,Humid,1,0,1,1
159726,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-12-31,4.1,",,S",27.2,"H,,S",...,NaN,23.6,",,S",2014,Dec,Humid,0,0,1,0

In [7]:
out_path = r'C:\Users\CLMRX\COWI\A248363 - Climate analysis - Documents\General\CRVA_tool\Master_thesis\Project\3 - Implementation\1 - Data\1-BC\NOAA-ClimateDataOnline'

In [8]:
name_file = 'filtred_NOAA_obs_data.csv'

In [9]:
daily_sum_obs_from_NOAA.to_csv(os.path.join(out_path,name_file))